# Backend
PORT=3001
JWT_SECRET= Troque esta chave em produção! Use: openssl rand -base64 32
DATABASE_URL=mongodb://localhost:27017/restaurante?authSource=admin&replicaSet=rs0
FRONTEND_URL=http://localhost:3000
NODE_ENV=development

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api
