# Backend
PORT=3001
JWT_SECRET= Troque esta chave em produção! Use: openssl rand -base64 32
DATABASE_URL=mongodb://localhost:27017/restaurante?authSource=admin&replicaSet=rs0
FRONTEND_URL=http://localhost:3000
NODE_ENV=development

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# Google OAuth (obtido em https://console.cloud.google.com)
GOOGLE_CLIENT_ID=seu-google-client-id-aqui
GOOGLE_CLIENT_SECRET=seu-google-client-secret-aqui

# NextAuth.js
NEXTAUTH_SECRET= gere-com-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000
